<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.hansen.dao.SupplierDao">
    <resultMap id="supplierMap" type="supplier">
        <id property="sid" column="s_id"/>
        <result property="sname" column="s_name"/>
        <result property="tel" column="s_tel"/>
        <result property="address" column="s_address"/>
    </resultMap>
    <select id="listSupplier" resultMap="supplierMap">
        SELECT s_id, s_name, s_tel, s_address FROM supplier_info
    </select>
    
    <select id="getSupplierById" resultMap="supplierMap" parameterType="java.lang.String">
        SELECT s_id, s_name, s_tel, s_address FROM supplier_info where s_id = #{sid}
    </select>

    <select id="getSupplierByName" resultMap="supplierMap" parameterType="java.lang.String">
        SELECT s_id, s_name, s_tel, s_address FROM supplier_info where s_name = #{sname}
    </select>

    <insert id="addSupplier" parameterType="supplier">
        insert into supplier_info(s_name, s_tel, s_address) values(#{sname}, #{tel}, #{address})
    </insert>

    <update id="updateSupplier" parameterType="supplier">
        update supplier_info set s_name = #{sname}, s_tel = #{tel}, s_address = #{address} where s_id = #{sid}
    </update>

    <delete id="deleteSupplier" parameterType="collection">
        delete from supplier_info where s_id in
        <foreach collection="array" item="sid" open="(" close=")" separator=",">
            #{sid}
        </foreach>
    </delete>
</mapper>